## This is a Simple Dummy Project
## # Step 1 --> Import the necessary modules

In [82]:
# Import the necessary modules

import pandas as pd
import numpy as np
import json

In [83]:
# Opening JSON file
f = open('/content/sample_data/Input.json')
 
# Convert JSON object as a dictionary
data = json.load(f)

# Closing file
f.close()

In [84]:
# Verify that the file was read correctly
print(data)

[{'Gender': 'Male', 'HeightCm': 171, 'WeightKg': 96}, {'Gender': 'Male', 'HeightCm': 161, 'WeightKg': 85}, {'Gender': 'Male', 'HeightCm': 180, 'WeightKg': 77}, {'Gender': 'Female', 'HeightCm': 166, 'WeightKg': 62}, {'Gender': 'Female', 'HeightCm': 150, 'WeightKg': 70}, {'Gender': 'Female', 'HeightCm': 167, 'WeightKg': 82}]

In [85]:
type(data)

list

In [86]:
# Convert List to pandas dataframe for easiler calculations
df = pd.DataFrame(data)
df.columns

Index(['Gender', 'HeightCm', 'WeightKg'], dtype='object')

In [87]:
# Calculate BMI with the formula provided
# BMI(kg/m2) = mass(kg) / height(m)2

df['BMI'] = (df['WeightKg']) / ((df['HeightCm']/100)**2)
df

   Gender  HeightCm  WeightKg        BMI
0    Male       171        96  32.830615
1    Male       161        85  32.791945
2    Male       180        77  23.765432
3  Female       166        62  22.499637
4  Female       150        70  31.111111
5  Female       167        82  29.402273

In [88]:
# Create a new Lists
BMI_Cat = []
BMI_Range = []
HealthRisk = []

for items in df['BMI']:
    if items <= 18.4:
       BMI_Cat.append('Under Weight')
       BMI_Range.append('18.4 and below')
       HealthRisk.append('Malnutrition risk')
    elif 18.5 < items <= 24.9:
       BMI_Cat.append('Normal Weight')
       BMI_Range.append('18.5 - 24.9')
       HealthRisk.append('Low risk')
    elif 25 < items <= 29.9:
       BMI_Cat.append('Obese')
       BMI_Range.append('25 - 29.9')
       HealthRisk.append('Enhanced risk')
    elif 30 < items <= 34.9:
       BMI_Cat.append('Moderately Obese')
       BMI_Range.append('30 - 34.9')
       HealthRisk.append('Medium risk')
    elif 35 < items <= 39.9:
       BMI_Cat.append('Severly Obese')
       BMI_Range.append('35 - 39.9')
       HealthRisk.append('High risk')
    elif 40 < items:
       BMI_Cat.append('Very Severly Obese')
       BMI_Range.append('40 and above')
       HealthRisk.append('Very high risk')

In [89]:
# Add New Columns to Existing data frame
df['BMI_Cat'] = BMI_Cat
df['BMI_Range'] = BMI_Range
df['HealthRisk'] = HealthRisk

df

   Gender  HeightCm  WeightKg  ...           BMI_Cat    BMI_Range     HealthRisk
0    Male       171        96  ...  Moderately Obese    30 - 34.9    Medium risk
1    Male       161        85  ...  Moderately Obese    30 - 34.9    Medium risk
2    Male       180        77  ...     Normal Weight  18.5 - 24.9       Low risk
3  Female       166        62  ...     Normal Weight  18.5 - 24.9       Low risk
4  Female       150        70  ...  Moderately Obese    30 - 34.9    Medium risk
5  Female       167        82  ...             Obese    25 - 29.9  Enhanced risk

[6 rows x 7 columns]